<h1>Shelters</h1>


<% @shelters.each do |shelter| %>
  <section id=<%= "#{shelter.id}"%>>
  <%= shelter.name %> <%= link_to 'Edit Shelter', "/shelters/#{shelter.id}/edit", method: :get %>
  </section>
<% end %>

<!-- <a href="/shelters/new">Add Shelter</a> -->
<%= link_to 'Add Shelter', '/shelters/new' %>
